%h1.title{style: "font-family: #{@linkpair.headline_font};"}The Origin of the Alphabet
%p{style: "font-family: #{@linkpair.body_font};"} The story of printing really begins with the earliest dawn of civilization. As soon as men developed a language, even of the simplest sort, they felt the necessity of a means of communication with those who were not present. This would be needed for the identification of property, the making of records, the sending of orders or information, the making of appointments, and many other purposes which would be developed by the needs of even the most redimentary civilization.
%h2.blockquote{style: "font-family: #{@linkpair.headline_font};"}"More important in its development however, was the picture."
%p{style: "font-family: #{@linkpair.body_font};"} We accordingly find evidences of devices to accomplish these ends associated with the earlist human remains. While the cave man was disputing food and shelter with the cave bear, the sabre-tooth tiger, and the mammoth in those
.type-style
  .headline-style
    %h4 Headline Choice:
    %p{style: "font-family: #{@linkpair.headline_font};"}
      = @linkpair.headline_font
  .body-style
    %h4 Body Choice:
    %p{style: "font-family: #{@linkpair.body_font};"}
      = @linkpair.body_font
%p= link_to "Use this type style", pairs_export_path, class: "button expand radius"