.top-section
  %header
    %nav
      %ul
        %li.home-button= link_to "Back to home", root_path
        %li.title Webfont
.mid-section
  .wrapper.center.green
    %h1 Your Results...
    %h2 Headline
    %h3 #{@linkpair.headline_font}
    %h2 Body
    %h3 #{@linkpair.body_font}
    %a.modal.button.expand.radius{"data-reveal" => "", "data-reveal-id" => "myModal", :href => "#"} View Code
    #myModal.reveal-modal{"data-reveal" => ""}
      %h2 You're almost done.
      %p Include this into the head of your html:
      %pre &lt;link rel="stylesheet" href="#{@linkpair.link}"&gt;
      %p Add these properties to your CSS styles:
      %pre
        font-family: "#{@linkpair.headline_font}", sans-serif;
        %br
        font-family: "#{@linkpair.body_font}", serif;
      %a.close-reveal-modal ×
    %p= link_to "Export PDF", "/pairs/export.html", class: "button expand radius second"

.btm-section
  %footer
    %nav.crumbs
      %ul
        = link_to "Tone", "/pairs/tone.html", class: "active"
        = link_to "Mood", "/pairs/mood.html", class: "active"
        = link_to "Results", "/pairs/results.html", class: "active"
        = link_to "Export", "#", class: "active"
