.top-section
  %header
    %nav
      %ul
        %li.home-button= link_to "Back to home", root_path
        %li.title Webfont
.mid-section
  .wrapper
    %h1.brand Webfont App
    %p Looking for a combination of webfonts to use? Not a problem. We've streamlined the process of selecting, down into just four steps:
    %ol
      %li Tone
      %li Mood
      %li Results
      %li Export
    %p= link_to "Let's get started", "/pairs/tone", class: "button expand radius"
.btm-section
  %footer
    %nav.crumbs
      %ul
        = link_to "Tone", "#"
        = link_to "Mood", "#"
        = link_to "Results", "#"
        = link_to "Export", "#"
