.top-section
  %header
    %nav
      %ul
        %li.home-button= link_to "Back to home", root_path
        %li.title Webfont
.mid-section
  .wrapper
    %h1 What mood are you attempting to create?
    .slider-container
      .mood-list-left
        %h3 Playful
        %h3 Light
        %h3 Modern
        / %h3 Cold
      .sliders
        %input{"data-slider" => "true", "data-slider-range" => "100,500", "data-slider-snap" => "true", "data-slider-step" => "100", :type => "text"}/
        %input{"data-slider" => "true", "data-slider-range" => "100,500", "data-slider-snap" => "true", "data-slider-step" => "100", :type => "text"}/
        %input{"data-slider" => "true", "data-slider-range" => "100,500", "data-slider-snap" => "true", "data-slider-step" => "100", :type => "text"}/
        / %input{"data-slider" => "true", "data-slider-range" => "100,500", "data-slider-snap" => "true", "data-slider-step" => "100", :type => "text"}/
      .mood-list-right
        %h3 Serious
        %h3 Dramatic
        %h3 Classical
        / %h3 Warm
    %p= link_to "Create Results", "/pairs/results.html", class: "button expand radius"
.btm-section
  %footer
    %nav.crumbs
      %ul
        = link_to "Tone", "/pairs/tone.html", class: "active"
        = link_to "Mood", "#", class: "active"
        = link_to "Results", "#"
        = link_to "Export", "#"

= javascript_include_tag "mood"
