.progress-bar
  .step
    %p 2 of 4
  .progress
    %span.meter{style: "width: 50%"}
.wrapper
  %h1.step 2. What is the nature of the content?
  .mood-panel
    = form_tag('/pairs/results', method: 'post') do
      %ul.button-group.radius
        %li.button.playful Playful
        %li.button.serious Serious
      %ul.button-group.radius
        %li.button.light Light
        %li.button.dramatic Dramatic
      %ul.button-group
        %li.button.modern Modern
        %li.button.classical Classical
      = hidden_field_tag 'light', false
      = hidden_field_tag 'modern', false
      = hidden_field_tag 'playful', false
      - if params[:category]
        = hidden_field_tag 'category', params[:category]
      .next-button
        %button.button.expand.radius{ type:"submit" } Create Results


